
.tabs .tabs-list {
  display: flex;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}


.tabs .tabs-list button {
 position: relative;

    justify-content: center;
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-bottom: 1px solid #dadada;
  border-radius: 0;
  background-color: #ffffff;
  color: initial;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  padding: 24px 16px 16px;
}
.tabs .tabs-list .icon.icon-pictogram {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
}



.tabs .tabs-list button p {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  color: var(--cds-text-primary, #161616);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 18px;
  text-align: left;
  padding: 8px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.tabs .tabs-list .icon.icon-pictogram img {
  width: 32px;
  height: 32px;

  margin-left: auto;
}


.tabs .tabs-list button:hover {
   border: 1px solid #dadada;
  border-color: #0f62fe;    
  color: #003366;
  border-bottom: 4px solid var(--cds-link-primary, #0f62fe);
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 4px solid var(--cds-link-primary, #0f62fe);
  background-color: var(--background-color);
  cursor: initial;
}


.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
